name: Graduate Version

on:
    workflow_dispatch:
        inputs:
            version:
                description: 'Version to graduate'
                required: true
                type: string
            no-upload:
                description: 'Don''t upload to Cloudflare R2'
                default: true
                required: false
                type: boolean

permissions:
    contents: read

jobs:
    upload-to-r2:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - run: corepack enable

        - name: Setup Node.js
          uses: actions/setup-node@v4.0.3
          with:
            cache: 'pnpm'

        - name: Install dependencies
          run: pnpm i --frozen-lockfile

        - name: Upload to Cloudflare R2
          env:
            CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            pnpm wrangler whoami
            node ./scripts/js-upload-to-r2.mjs --version ${{ github.event.inputs.version }} --graduate true ${{ github.event.inputs.no-upload && '--no-upload true' || '' }}
