name: Graduate Version

on:
    workflow_dispatch:
        inputs:
            version:
                description: 'Specify the version to promote to stable (format: x.y.z)'
                required: true
                type: string

permissions:
    contents: read

run-name: Graduate ${{github.event.inputs.version}}

jobs:
    upload-to-r2:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Cache Bun dependencies
          uses: actions/cache@v4
          with:
            path: ~/.bun/install/cache
            key: bun-${{ runner.os }}-${{ hashFiles('**/bun.lock') }}
            restore-keys: |
              bun-${{ runner.os }}-

        - name: Setup Bun
          uses: oven-sh/setup-bun@v2

        - name: Install Dependencies
          run: bun install

        - name: Upload to Cloudflare R2
          env:
            CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          run: |
            bun ./scripts/js-upload-to-r2.ts --version ${{ github.event.inputs.version }} --channel stable
