name: Upload Release to Cloudflare R2

on:
    release:
    workflow_dispatch:

permissions:
    contents: read

jobs:
    upload-to-r2:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - run: corepack enable

        - name: Setup Node.js
          uses: actions/setup-node@v4.0.3
          with:
            cache: 'pnpm'

        - name: Install dependencies
          run: pnpm i --frozen-lockfile

        - name: Create test file
          run: echo "Hello, world!" > test.txt

        - name: Upload test file
          uses: actions/upload-artifact@v4.6.0
          with:
                name: test
                path: test.txt

        - name: Download release assets
          uses: actions/download-artifact@v4.1.8
          with:
              path: ./release-assets

        # - name: Upload to Cloudflare R2
        #   uses: cloudflare/wrangler-action@v3
        #   with:
        #         apiToken: ${{ secrets.CF_API_TOKEN }}
        #         packageManager: pnpm
        #         # for file in ./release-assets/*; do
        #         #     aws s3 cp "$file" "s3://${R2_BUCKET_NAME}/$(basename "$file")" --endpoint-url "${R2_ENDPOINT}"
        #         # done
        #         # wrangler r2 object put omuapps-app/<file_name> --file <file_path>
        #         command: |
        #             for file in ./release-assets/*; do
        #                 wrangler r2 object put omuapps-app/test/$(basename "$file") --file "$file"
        #             done
        - name: Upload to Cloudflare R2
          run: |
            for file in ./release-assets/*; do
                echo "Uploading $file"
                pnpm wrangler r2 object put omuapps-app/test/$(basename "$file") --file "$file"
            done
