name: Test Python

on:
    push:
        paths: [ 'packages-py/**' ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: .venv
          key: pip-${{ runner.os }}-${{ hashFiles('**/requirements*.lock') }}

      - name: Install dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: |
          uv sync --locked

      - name: Run tests
        run: |
          uv run pytest -v --cov=./packages-py --cov-report=xml

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: OMUAPPS/omuapps-python
